{% extends 'base.html.twig' %}

{% block body %}
    <!-- Flash messages -->
    {% for flashMessage in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <!--/Flash messages -->

    {% if usersToFollow | length > 0 %}
        <p>You are not following anyone, here some suggestions:</p>
        {% for userToFollow in usersToFollow %}
            <a href="{{ path(
                'micro_post_user',
                {'username': userToFollow.username})
            }}">
                @{{ userToFollow.username }}
            </a>
        {% endfor %}
    {% else %}
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

        <!-- Micro-Posts -->
        {% for post in posts %}
            <small class="d-block text-right mt-3">
                {% if is_granted('edit', post) %}
                    <a href="{{ path('micro_post_edit', {'id': post.id}) }}">Edit</a>
                {% endif %}
                {% if is_granted('delete', post) %}
                    <a href="{{ path('micro_post_delete', {'id': post.id}) }}">Delete</a>
                {% endif %}
            </small>

            {{ include('micro-post/raw-post.html.twig', {'post': post}) }}
        {% endfor %}
        <!--/Micro-Posts -->

    {% endif %}
{% endblock %}